services:
  - type: web
    name: web-truyen-backend
    env: node
    buildCommand: npm install && cd apps/backend && npm install && npx prisma generate && npm run build
    startCommand: cd apps/backend && npm run start:prod
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: NPM_CONFIG_PRODUCTION
        value: false
      - key: PORT
        value: 3001
