services:
  - type: web
    name: web-truyen-backend
    env: node
    buildCommand: NPM_CONFIG_PRODUCTION=false npm install && npm run build:backend
    startCommand: cd apps/backend && npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
